@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nunito+Sans&family=Open+Sans&family=Staatliches&display=swap');
#brand {
    font-family: "Fredoka One", cursive;
}
#topSection {
    background-image: url("../assets/topbg.png");
    object-fit: cover;
}
#brand-middle {
    color: #f64721;
}

/* Ferris wheel */
/* Variables */
@-webkit-keyframes ferri-wheel {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes ferri-wheel {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes cabin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  @keyframes cabin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

  /* @media (min-width: 768px) {
    html {
      font-size: 8px;
    }
  }
  @media (min-width: 1025px) {
    html {
      font-size: 10px;
    }
  } */
  
  
  /* Layout */
  .ferris-wrapper {
    position: relative;
    width: 58rem;
    height: 75rem;
    margin: 0 auto;
    /* Pause animation on Hover */
  }
  .ferris-wrapper:hover .wheel, .ferris-wrapper:hover .cabin {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
  
  /* .hub-back, .hub-front {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 50%;
    border: 0.1rem solid #4d4d4d;
    
  }
  
  .hub-back {
    z-index: 0;
    width: 10rem;
    height: 10rem;
    background-image: url('../assets/benefits of inclusive mindset.png')
  }
  
  .hub-front {
    z-index: 4;
    width: 5rem;
    height: 5rem;
    background-image: url('../assets/benefits of inclusive mindset.png')
  } */
  
  .wheel-wrapper {
    width: 50rem;
    height: 50rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 3;
  }
  
  .wheel {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* border: 1px solid #4d4d4d; */
    border-radius: 50%;
    -webkit-animation: ferri-wheel 55s linear infinite;
            animation: ferri-wheel 55s linear infinite;
  }
  
  /* Cabin */
  .cabin {
    width: 10rem;
    height: 10rem;
    position: absolute;
    transform-origin: 50% 0%;
    text-align: center;
    font-size: 2rem;
    -webkit-animation: cabin 55s linear infinite;
            animation: cabin 55s linear infinite;
  }
 
  .cabin:nth-of-type(1) {
    right: -8.5%;
    top: 50%;
  }
  .cabin:nth-of-type(2) {
    right: 17%;
    top: 93.5%;
  }
  .cabin:nth-of-type(3) {
    right: 67%;
    top: 93.5%;
  }
  .cabin:nth-of-type(4) {
    left: -8.5%;
    top: 50%;
  }
  .cabin:nth-of-type(5) {
    left: 17%;
    top: 7%;
  }
  .cabin:nth-of-type(6) {
    right: 17%;
    top: 7%;
  }
  
  .line {
    position: absolute;
    width: 50%;
    height: 0.1rem;
    left: 50%;
    top: 50%;
    background-color: #4d4d4d;
    transform-origin: 0% 0%;
  }
  .line:nth-of-type(2) {
    transform: rotate(60deg);
  }
  .line:nth-of-type(3) {
    transform: rotate(120deg);
  }
  .line:nth-of-type(4) {
    transform: rotate(180deg);
  }
  .line:nth-of-type(5) {
    transform: rotate(240deg);
  }
  .line:nth-of-type(6) {
    transform: rotate(300deg);
  }

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .body-font {
    @apply font-nun
  }
  
}